### NODE SPACE
NODE_ENV="production" # "development"
#############################################################
### NETWORK SETTINGS
#SERVERLESS=true
RESILIENT_PORT=true
PORT=2700
PORT_DEV=2701
#############################################################
### LOGGER OPTIONS
#VERBOSE=true
#COLORED=true
#############################################################
##################### EXPRESS FEATURES ######################
BUILD_IN_FEATURES=true
DISSABLE_POWERED_BY=true
### JSON PARSER OPTIONS
JSON=true
JSON_INFLATE=true
JSON_LIMIT=100kb
JSON_STRICT=true
JSON_TYPE=application/json
#############################################################
### RAW PARSER OPTIONS
RAW=true
RAW_INFLATE=true
RAW_LIMIT=100kb
RAW_TYPE=application/octet-stream
#############################################################
### STATIC SERVER OPTIONS
STATIC=true
STATIC_PATH=/cdn/#/PATH/FORMAT
STATIC_DIR=./src/services/Static#/STATIC/FILE/FOLDER/PATH
STATIC_DOTFILES=ignore
STATIC_ETAG=true
STATIC_EXTENSIONS=#EXTENSIONS,SEPARATED,BY,COMMA
STATIC_FALLTHROUGH=true
STATIC_IMMUTABLE=false
STATIC_INDEX=index.html#PATH/TO/index.html
STATIC_LASTMODIFIED=true
STATIC_MAXAGE=0#max_milliseconds_to_cache
STATIC_REDIRECT=true
#############################################################
### TEXT PARSER OPTIONS
TEXT=true
TEXT_CHARSET=utf-8
TEXT_INFLATE=true
TEXT_LIMIT=100kb
TEXT_TYPE=text/plain
#############################################################
### URLENCODED PARSER OPTIONS
URLENCODED=true
URLENCODED_EXTENDED=true
URLENCODED_INFLATE=true
URLENCODED_LIMIT=100kb
URLENCODED_PARAM_LIMIT=100
URLENCODED_TYPE=application/x-www-form-urlencoded
#############################################################
### LOCAL VARIABLES
LOCAL_VARS=true
LOCALS=LOCAL_KEY_STR:LOCAL_VALUE_STR;
LOCALS_KEY=LOCALS_VALUE
#############################################################
### CORS POLICY
CORS=true
SRVTOSRV=true
#############################################################
### Homebrew Feature Handling
#############################################################
### Inspector
INSPECTOR=true
#############################################################
### Error 404 & 5XX Handlers
ERRORS_HANDLERS=true