html, body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}


.logo {
    border-radius: 50%;
}

.linkTree {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.photoGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 5vw);
    grid-gap: 15px;
}